%table.cart-table
  %thead
    %tr
      %td.label Item
      %td.label Quantity
      %td.label Price
      %td.label Total

  %tbody
    - @cart.line_items.each do |item|
      %tr.line-item

        %td.name
          = item.product.name
          -item.selected_options.each do |sel_opt|
            .option
              =sel_opt.option.family + ' : '
              =sel_opt.option.value

        %td.quantity
          -if final
            = item.quantity
          -else
            = form_for item, :id => "quantityUpdate" do |f|
              = f.label :quantity
              = f.text_field(:quantity, :class => 'input')
              .button
                = f.submit "update", :id => "quantityUpdateButton"

        %td.price= number_to_currency(item.product.price)
        - product_total = item.product.price * item.quantity
        %td.product_total= number_to_currency(product_total)

    %tr
      %td
      %td
      %td TOTAL
      %td.order_total= number_to_currency(@cart.total)

    %tr
      %td
      %td
      %td
      %td.important
        -if final
          = form_tag orders_path do
            %script{:src => "https://button.stripe.com/v1/button.js", :class => "stripe-button", :'data-key' => Rails.configuration.stripe[:publishable_key], :amount => @cart.total_cents}


        -else
          %a{:href => cart_checkout_path} Proceed to Checkout


