= form_for @product do |f|
  - if errors = flash[:errors]
    #error_explanation
      %h2= "#{pluralize(errors.count, "error")} prevented this product from being saved:"
      %ul
        - errors.each do |attribute, msg|
          %li= "#{attribute} #{msg[0]}"

  .field
    = f.label :Name
    = f.text_field :name
  .field
    = f.label :Description
    = f.text_area :description, :class => 'wide'
  .field
    = f.label :Price
    = f.text_field :price
  .field
    = f.label :Category
    = f.select(:category, Product.categories)

  .field#optionField
    - allOptions = Option.optionData
    - families = allOptions[0]
    - families.each do |family|
      .family{:id => family}
        %h3 
          = family.capitalize
        - family_options = allOptions[1].collect { |i| i if i.family == family }.compact
        - family_options.each do |option|
          %p
            = check_box_tag 'options[]', option.id, @product.options.include?(option)
            = option.value
  .field
    = f.label :Image
    = f.file_field :image
  .actions
    = f.submit 'Save'

= form_tag "Chuck", :id => "optForm" do#optForm
  = label_tag(:family, "Family:")
  = text_field_tag(:family)
  = label_tag(:value, "Value:")
  = text_field_tag(:value)

%a.btn#optSubmit{:onClick => "newOption()" }
  Create!

:javascript
  function newOption(){
    var myData = $('#optForm').serialize();
    $.ajax({
      url: '/options',
      type: 'post',
      dataType: 'json',
      data: myData,
      success: function(response, textStatus, jqXHR) {
        if (response.message){
          alert(response.message);
        }
        else {  
          var toAppend = '<p><input id="options_" name="options[]" type="checkbox" value="' + response.id + '" /> ' + response.value + '</p>';
          var familySelect = "#" + response.family.toLowerCase();
          var familyName = response.family;
          familyName[0] = familyName[0].toUpperCase();
          if ($(familySelect).length === 0) {
            $('#optionField').append('<div class="family" id="' + response.family.toLowerCase() + '"><h3 style="text-transform:capitalize;">' + response.family.toLowerCase() + '</h3></div>');
          }
          $(familySelect).append(toAppend);
        }
      },
      error: function(jqXHR, textStatus, errorThrown){
        alert('nuuuu!');
        console.log(arguments);
      }
    });
  };
