- @products.each do |product|

  .product-listing
    .price
      = product.price
      %span.name
        = product.name
    .links
      = link_to 'Show', product
      = link_to 'Edit', edit_product_path(product)
      = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

= paginate @products


%br

= link_to 'New Product', new_product_path

