!!!5
%html
  %head
    %title Petstorish
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:onload => 'goFish();'}
    #fish
    ///////////////////////////////////////////////////////////
    //  SEARCH OVERLAY
    //////////////////////////////////////////////////////////
    #overlay-container
      :javascript
        var opacityTimer;
        var op = 0.0;
        var overlayDiv = $('#overlay-container');
        function fadeIn()
        {
          if(op> 1)
          {
            clearInterval(opacityTimer);
            overlayDiv.css({opacity: 1});
          }
          else
          {
            op = op + 0.05;
            overlayDiv.css({opacity: op});
            console.log(op)
          }

        }
        function fadeOut()
        {
          if(op < 0.1)
          {
            overlayDiv.css({display: 'none'});


            clearInterval(opacityTimer);
          }
          else
          {
            op = op - 0.05;
            overlayDiv.css({opacity: op});
            console.log(op)
          }

        }
        function hideOverlay(){
          clearInterval(opacityTimer);
          opacityTimer = setInterval(fadeOut,2);
        }
        function showOverlay(){

          console.log('showOverLay')
          clearInterval(opacityTimer)
          overlayDiv.show();
          $('.input-overlay').css({
            top:'30%',
            left:'50%',
            margin:'-'+($('.input-overlay').height() / 2)+
            'px 0 0 -'+($('.input-overlay').width() / 2)+'px'
            });

            opacityTimer = setInterval(fadeIn, 2);
        }
        ///////////////////////////////
        /// Fish animation
        //////////////////////////////
        var fish_x = [1, 0, 1, 0];
        var fish_y = [0, 1, 1, 0];
        var fish_target = 0;
        var rotate = -1;

        function goFish()
        {
          target_x = $('body').width() * fish_x[fish_target];

          // the 122 is the width of the image
          // nudge it so it doesn't go out of screen
          if(target_x != 0)
            target_x -= 122;

          target_y = $('body').height() * fish_y[fish_target];
          fish_target = (fish_target + 1)%4;
          rotate = -rotate;
          if(target_x == 0)
            bg_image = 'goldfish_left.png';
          else
            bg_image = 'goldfish_right.png';
          $('#fish').css('background-image', 'url("/assets/design/' + bg_image + '")');

          // Left/Right movement
          $('#fish').animate(
          {
            'left': target_x + 'px',
            'top': target_y + 'px',
            'rotate': '+='+2*Math.PI
          },
          {
            step: function(now,fx) 
            {
            
              if(fx.prop == 'rotate')
              {
                angle = 15*Math.sin(now);
                $(this).css('-webkit-transform','rotate('+angle+'deg)');
                console.log(now + ' prop: '+fx.prop);
              }
            },
            duration: 5000,
            complete: goFish

          }
          )

          console.log('background-position: '+ target_x + 'px ' + target_y + 'px');
        }
      .overlay
      .input-overlay
        %h2 Search
        .search
          =form_tag("/s/", :method => "get") do

            = text_field_tag :query

            .checkboxen
              search in:
              %p
                = check_box_tag 'options[]', 'name', true
                Name

              %p
                = check_box_tag 'options[]', 'description', true
                Description

            .field
              price:
              .price
                minimum
                %p= select('price', 'minimum', (0..100).step(10))
              .price
                maximum
                %p= select('price', 'maximum', (0..100).step(10), :selected => 100)
              .price
                category
                %p= select('category', 'name', ['all'] | Product.categories, :selected => 'all')
              .button
                =submit_tag("search", :id => 'OverlaySearchButton')
            .close
              %a{:href=>'#', :onClick => "hideOverlay();"} close
      //////////////////////////////////////////////////////////
      //  HEADER
      /////////////////////////////////////////////////////////

    .container
      .row
        .span12.shorter-span
          .header.clearfix
            /%img{:src => '/assets/design/top_border.png'}
          .header-border
            .title
              =link_to 'Petstore', root_path
            .cat
            .right.pull-right
              .cart
                %a{:href => '/cart'}
                  Cart: 
                  %img{:src => '/assets/design/cart.png'}
              .basic-search
                =form_tag("/s/", :method => "get") do
                  =text_field_tag(:query, nil, :class => "simple-search")
                  .options
                    .link
                      %a{:href=>"#", :onClick => "showOverlay()"}Advanced Search
                    .button
                      =submit_tag("search", :id => 'SearchButton')
      .middle.clearfix.padding.upfix
        .sidebar
          %ul
            -Product.categories.each do |cat|
              %li
                =link_to cat, '/'+cat
          .monkey
        .main.padding.upfix
          - if flash[:notice]
            .notice
              %h2= flash[:notice]
          - errors = flash[:errors]
          - if errors
            #error_explanation
              %h2= "#{pluralize(errors.count, "error")} prevented this action:"
              %ul
                - errors.each do |attribute, msg|
                  %li= "#{attribute} #{msg[0]}"

          = yield

      .row.margin.upfix
        .span12.shorter-span
          .footer
            %ul
              %li
                contact
              %li
                address place <br />
                123 wonderful lane <br />
                Tropical Wisconsin <br />
              %li
                this is a site map
          .footer-border
            .cat

  :javascript
    $("#SearchButton").click(function(event) {
      event.preventDefault();
      window.location = "/s/"+$(".simple-search").val();
      });
